body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 95%;
  /* background-color: red; */
}

.first-page{
  width: 100%;
  height: 90vh;
  display: flex;
  margin-top: 2%;
}
.logo{
  width: 40%;
  height: 100%;
  background-color: black;  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 80px;
  
}
.sign-in{
  width: 60%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-box{
  background-color: lightblue;
  width: 55%;
  height: 55vh;
}